/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

body {
	background: #fff;
}

.container {
	width: 90%;
}

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=number]:focus + label,
.input-field input[type=password]:focus + label {
	color: #03A9F4;
	text-align: left;
	text-align: -webkit-left;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=number]:focus,
.input-field input[type=password]:focus {
	border-bottom: 2px solid #03A9F4;
	box-shadow: none;
}
 
.special-left {
	text-align: left;
}

.divider-color         { border-color: #BDBDBD; }
.dark-primary-color    { background: #0288D1; }
.default-primary-color { background: #03A9F4; }
.light-primary-color   { background: #B3E5FC; }
.text-primary-color    { color: #FFFFFF; }	/* White text */
.accent-color          { background: #FF9800; }
.primary-text-color    { color: #212121; }	/* Dark text */
.secondary-text-color  { color: #757575; }	/* Dark text */
.accent-text-color     { color: #03A9F4; }
.accent-text-color:hover { color: #0288D1; }


.btn:hover, .btn-large:hover, .btn:focus, .btn-large:focus { background: #0288D1; }

.boldcol tr > td:first-child + td + td + td { font-weight: bold; }

.center tr > td { text-align: center; }

.card .card-content { padding-left: 10px; }

.lvl1, .lvl2, .lvl3, .lvl4, .lvl5 {
	text-align:center;
}



.row .col.m2 {
	width: 18%;
}
.row .col {
    padding: 0 0.25rem;
}

.buff {
	display:inline-block;
	float: left;
	margin-right: 2px;
	margin-left: 2px;
    width: 50px;
    height: 50px;
    border: 1px solid #EEE;
}
