/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.smalltext {
	font-size: 8pt;
}

.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

body {
	background: #fff;
}

.container {
	width: 90%;
}

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=number]:focus + label,
.input-field input[type=password]:focus + label {
	color: #03A9F4;
	text-align: left;
	text-align: -webkit-left;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=number]:focus,
.input-field input[type=password]:focus {
	border-bottom: 2px solid #03A9F4;
	box-shadow: none;
}
 
.special-left {
	text-align: left;
}

.divider-color         { border-color: #BDBDBD; }
.dark-primary-color    { background: #0288D1; }
.default-primary-color { background: #03A9F4; }
.light-primary-color   { background: #B3E5FC; }
.text-primary-color    { color: #FFFFFF; }	/* White text */
.accent-color          { background: #FF9800; }
.primary-text-color    { color: #212121; }	/* Dark text */
.secondary-text-color  { color: #757575; }	/* Dark text */
.accent-text-color     { color: #03A9F4; }
.accent-text-color:hover { color: #0288D1; }


.btn:hover, .btn-large:hover, .btn:focus, .btn-large:focus { background: #0288D1; }

.boldcol tr > td:first-child + td + td + td { font-weight: bold; }

.center tr > td { text-align: center; }

.card .card-content {  }

.lvl1, .lvl2, .lvl3, .lvl4, .lvl5 {
	text-align:center;
}



.row .col.m2 {
	width: 20.0%;
}
.row .col {
    /*padding: 0 0.25rem;*/
}

.buff {
	display:inline-block;
	float: left;
	margin-right: 2px;
	margin-left: 2px;
    width: 50px;
    height: 50px;
    border: 1px solid #EEE;
}

.bonus {
	color: #4CAF50;
}

.armorCard {
	text-align: center;
	height:140px;
	margin-top:25px;
}
.nopadding .card-content {
	padding: 0px;
}

.hpmargin {
	margin-bottom: 24px;
}


.hpbar, .manabar, .xpbar {
	width: 100%;
	background: #FFF;
}

.hpn, .manan, .xpn {
	position: relative;
	height: 100%;
	width: 9.50vw;
	/*left: calc(-6vw + 50%);*/
}

.hp {
	width: 100%;
	height: 25px;
	background-color: #EF5350;
	text-align: center;
	color: #FFF;
	text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
	font-size: 14px;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	line-height: 25px;
}

.mana {
	height: 25px;
	background-color: #42A5F5;
	text-align: center;
	color: #FFF;
	text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
	font-size: 14px;
	line-height: 25px;
}

.xp {
	height: 18px;
	background-color: #FFC107;
	text-align: center;
	color: #444;
	font-size: 10px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	line-height: 18px;
	/*margin-top: 2px;*/
}


.inv tbody td {
	font-size: 9pt;
	text-align: center;
}

.inv td:nth-child(2) {
	text-align: left;
}

div .slot {
	padding-top: 8px;
	padding-left: 8px;
	margin-bottom: 5px;

    background-color: #FFF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.dex {
	text-align: left;
}

.chp, .cmana {
	margin: 5px;
	height: 40px;
}

.chpbox, .cmanabox {
	float: left;
	height: 35px;
	width:  35px;
	background:  #CD0505; 	/* TODO */
	color: #FFF;
	font-size:  10pt;
	text-align: center;
	line-height: 35px;
}
.cmanabox {
	background: #3388DF;
}

.chpDex, .cmanaDex {
	margin-left: 10px;
	font-size: 10pt;
	text-align: center;
	line-height: 35px;
	float: left;
	width: 100px;
	height:  35px;
	background: #E9E9E9;
}

.cstats {
	/*height: 400px;*/
	width: 50%;
}